---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Joshua, an AI Engineer based on the West Coast.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Python</li>
        <li>Astro</li>
        <li>Svelte</li>
        <li>C</li>
        <li>LLMs</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Outside of coding, I enjoy reading deeply, writing, learning new sports, spending time outside and building things.
      I'm always looking for new projects to work on.
      <br />
      I'm currently looking for a full-time positions to flex my AI Engineering skills.
    </p>
    <p class="text-sm font-light">
      Although I have my go-to tools, I'm always exploring new tech stacks.
      If you have a project you'd like me to work on, please get in touch.
    </p>
  </div>
</Card>
